{
  "extends": ["plugin:astro/recommended", "reearth"],
  "plugins": ["disable"],
  "processor": "disable/disable",
  "settings": {
    "disable/plugins": ["prettier"]
  },
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": "off"
  },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "settings": {
        "disable/plugins": ["react"]
      }
    },
    {
      "files": ["astro.config.mjs"],
      "extends": ["reearth/node"]
    }
  ]
}
