---
import PostList from "../components/PostList.astro";
import config from "../config";
import Layout from "../layouts/Layout.astro";
import client from "../notion";

const [database, posts] = await Promise.all([
  client.getDatabase(),
  client.getAllPosts(),
]);
---

<Layout>
  <main class="py-12 lg:py-20">
    <article class="max-w-6xl mx-auto px-3">
      <header class="text-center mb-12">
        <h1 class:list={["mb-12 text-6xl title", config.titleStyle?.classes]}>
          {database.title}
        </h1>
        <p class="mx-auto max-w-xl">
          {database.description}
        </p>
      </header>
      <PostList posts={posts} />
    </article>
  </main>
</Layout>
<style
  define:vars={{
    titleFontFamily: config.titleStyle?.fontFamily || "inherit",
  }}
>
  .title {
    font-family: var(--titleFontFamily);
  }
</style>
